<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="./bootstrap.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/sales">Sales</a></li>
        </ul>
    </nav>
    <h1>Index Page </h1>
</body>

</html>